/***** VARIABLES *****/

@base-background: 		#FFFFFF;
@header-color: 			#131E26;
@text-color: 			#666666;
@text-big-color: 		#333333;
@text-hi-dark-color: 	#444444;
@text-darkest-color:	#111111;
@text-accent-color: 	#B88C32;
@text-ultralight-color:	#999999;
@accent-light: 			#FAF4EB;
@main-width: 			940px;
@main-pad: 				10px;

/***** HELPERS *****/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    clear: both;
}

/***** MAIN STYLES *****/

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: Georgia, serif;
}

body {
	background: url('../img/01_content.png') @base-background;
	background-position: top center;
	height: 3000px;
}

.sans {
	font-family: 'Open Sans', 'Tahoma', 'Verdana', sans-serif;
}

.center(@w: @main-width) {
	position: relative;
	width: @w;
	// left: 50%;
	// margin-left: 0-(@w/2);
	margin: 0px auto;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.hr(@color) {
	border-top: 1px solid @color;
}

h1, h2 {
	.sans();
	font-weight: 400;
	letter-spacing: 0.025em;
}

p {
	margin: 0;
	padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


header {
	width: 100%;
	section#nav-top {
		.center();
		.clearfix();
		nav {
			.sans();
			font-size: 0.8em;
			a {
				color: @text-color;
				display: inline-block;
				margin-right: 48px;
				line-height: 2.5em;
				text-decoration: none;
			}
			a#live {
				color: @text-darkest-color;
				background: url('../img/ico/live.png') no-repeat center left;
				padding-left: 26px;
				margin-right: 50px;
			}
			aside {
				float: right;
				a {
					display: inline-block;
					width: 22px;
					// height: 22px;
					background-image: url('../img/ico/social.png');
					background-repeat: no-repeat;
					text-decoration: none;
					margin-left: 4px;
					margin-right: 0px;
					height: 2.4em;
				}
				a.fb {background-position: 0px 80%;}
				a.in {background-position: -27px 80%;}
				a.tw {background-position: -54px 80%;}
				a.vk {background-position: -81px 80%;}
			} //aside
		} //nav
	} //section#nav-top
	hr {
		.hr(@accent-light);
		.clearfix();
		margin-top: 2px;
		margin-bottom: 20px;
	}
	section#head-mid {
		.center();
		.clearfix();
		height: 175px;
		>div {
			display: block;
			width: 33.33%;
			min-height: 1px;
			float: left;
			padding-top: 48px;
		}
		>div.phone {
			.phone {
				font-size: 1.2em;
				padding-left: 28px;
				background: url('../img/ico/phone.png') no-repeat 0% 70%;
			}
			.callmeback {
				font-size: 0.75em;
				font-style: italic;
				color: @text-accent-color;
				text-decoration: none;
				border-bottom: 1px dashed @text-accent-color;
				margin-left: 28px;
			}
		}
		>div.logo-big {
			padding-top: 0px;
			a.logo-big {
				display: block;
				margin: 0px auto;
				width: 271px;
				height: 147px;
				text-decoration: none;
				background: url('../img/logo_big.png');
			}
		}
		>div.locate {
			div.locate {
				font-size: 0.8em;
				background: url('../img/ico/locate.png') no-repeat 0% 10%;
				margin-top: 6px;
				margin-left: 92px;
				padding-left: 26px;
			}
		}
	} //section#head-mid
	section#nav-mid{
		border-top: 1px solid @accent-light;
		border-bottom: 1px solid @accent-light;
		nav {
			.center(781px);
			.sans();
			line-height: 3.4em;
			a {
				text-transform: uppercase;
				color: @text-big-color;
				font-weight: 700;
				font-size: 0.9em;
				text-decoration: none;
				margin-right: 73px;
			}
			a:last-child {
				margin-right: 0px;
			}
			a.agency {
				text-transform: none;
				background: url('../img/ico/sandwitch.png') no-repeat 0% 40%;
				padding-left: 26px;
				margin-left: 10px;
			}
		}
	} //section#nav-mid
} //header

section.breadcrumbs {
	.center();
	.clearfix();
	line-height: 2.4em;
	a {
		color: @text-accent-color;
		text-decoration: none;
		font-style: italic;
		font-size: 0.8em;
		display: block;
		float: left;
	}
	a:not(:last-child):after {
		content: '';
		display: inline-block;
		width: 6px;
		height: 15px;
		background: url('../img/ico/bc_arrow.png') no-repeat center bottom;
		margin: 0em 0.75em; 
	}
}

main {
	.clearfix();
	>* {
		.center();
	}
	h1 {
		.clearfix();
		.center();
		display: block;
		font-size: 2.05em;
		text-align: center;
		line-height: 2.8em;
		margin-bottom: 0.1em;
	}
	h1:before, h1:after {
		content: '';
		display: inline-block;
		width: 3em;
		height: 0.32em;
		border-top: 1px solid red @text-accent-color;
		margin: 0 0.6em;
	}
	article {
		figure {
			padding: 5px;
			figcaption {
				text-align: center;
				color: @text-ultralight-color;
				font-style: italic;
				font-size: 0.8em;
				padding-top: 0.4em;
			}
		}
		.left {
			float: left;
		}
		.right {
			float: right;
		}
		p {
			line-height: 1.6em;
			margin-bottom: 0.8em;
		}
		p.big {
			width: 620px;
			font-size: 1.5em;
			line-height: 1.45em;
		}
		p.separator-bottom {
			margin: 0;
		}

		p.separator-bottom:after {
			content: '';
			display: block;
			border-top: 1px solid @text-accent-color;
			width: 300px;
			height: 1px;
			margin: 0.8em auto 0.6em;
		}
	} //article
} //main