.dev-bground {
	background: url('../img/01_content.png');
	width: 1920px;
	height: 1000px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
	opacity: 1;
}

@base-background: 		#FFFFFF;
@header-color: 			#131E26;
@text-color: 			#666666;
@text-big-color: 		#333333;
@text-hi-dark-color: 	#444444;
@text-accent-color: 	#B88C32;



body {
	background: @base-background;
}